body{
    margin: 0;
    padding: 0;
}

.overflow{
    width: 400px;
    text-align: justify;
    line-height: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.pstyle{
    margin-left: 20px;
    border: 2px solid red;
    width: 400px;
    height: 250px;
    overflow: scroll;
}